---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [5]:
import pandas as pd
import numpy as np
import re

def answer_one():
    energy = get_energy()
    GDP = get_GDP()
    ScimEn = get_ScimEn()
    columns = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
           'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita',
           '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    res=pd.merge(energy, ScimEn)
    res.drop_duplicates(subset=['Country'], keep='first', inplace=True)
    res=res.query("Rank <= 15")
    res=pd.merge(res, GDP, left_on="Country", right_on="Country Name")
    res.index = res["Country"].values
    return res.loc[:,columns ]
    
def get_energy():
    dicts = {"Republic of Korea": "South Korea",
             "United States of America": "United States",
             "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
             "China, Hong Kong Special Administrative Region": "Hong Kong"}
    energy = pd.read_excel("Energy Indicators.xls", sheetname="Energy")
    energy  = energy.iloc[16:243, 2:]
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy["Energy Supply"][16]
    for i in range(16,243):
        if energy["Energy Supply"][i] == "...":
            energy["Energy Supply"][i] = np.NaN
        for k, v in dicts.items():
            if k in energy["Country"][i]:
                energy["Country"][i] = dicts[k]
        energy["Country"][i] = energy["Country"][i].strip("0123456789")
        energy["Country"][i] =  re.sub(r"\(.*\)", "" , energy["Country"][i]).strip()
    energy["Energy Supply"] = energy["Energy Supply"]*1000000
    energy.index = range(0, 243-16)
    return energy


def get_GDP():
    GDP = pd.read_csv("world_bank.csv", skiprows=4)
    dicts = {"Korea, Rep.": "South Korea", 
         "Iran, Islamic Rep.": "Iran",
         "Hong Kong SAR, China": "Hong Kong"}
    GDP["Country Name"] = GDP["Country Name"].replace(dicts)
    return GDP

def get_ScimEn():
    ScimEn = pd.read_excel("scimagojr-3.xlsx", sheetname="Sheet1")
    return ScimEn

data  = answer_one()
get_ScimEn()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,147887,147512,856806,583858,5.79,162
1,2,United States,113579,111426,1085684,370574,9.56,259
2,3,Japan,34294,34054,275980,73491,8.05,145
3,4,United Kingdom,24328,23671,278694,52119,11.46,159
4,5,India,21450,21183,179494,54929,8.37,132
5,6,Russian Federation,21259,20915,45629,17368,2.15,65
6,7,Germany,20898,20640,193676,39615,9.27,140
7,8,Canada,20689,20353,285554,53955,13.80,165
8,9,France,15584,15387,173959,37411,11.16,129
9,10,South Korea,14037,13952,151281,29670,10.78,116
10,11,Italy,13662,13457,154242,37030,11.29,121
11,12,Spain,11002,10886,167492,31489,15.22,130
12,13,Iran,10969,10872,94111,31251,8.58,85
13,14,Australia,10616,10496,129788,22759,12.23,123
14,15,Brazil,10599,10521,84010,20271,7.93,97
15,16,Taiwan,7365,7324,108366,17241,14.71,115
16,17,Turkey,6801,6730,117612,27363,17.29,118
17,18,Norway,6704,6656,50269,10582,7.50,83
18,19,Netherlands,6162,6086,67702,9150,10.99,96
19,20,Sweden,5383,5292,78925,12866,14.66,108
20,21,Malaysia,4852,4814,41316,10511,8.52,79
21,22,Denmark,4472,4428,55033,9426,12.31,98
22,23,Switzerland,4298,4255,53230,8403,12.38,91
23,24,Saudi Arabia,4251,4196,33048,4757,7.77,70
24,25,Mexico,4115,4071,29639,5540,7.20,64
25,26,Poland,3925,3896,34071,7737,8.68,65
26,27,Egypt,3431,3392,27484,4393,8.01,64
27,28,Greece,3303,3264,54815,7852,16.60,93
28,29,Belgium,3196,3130,34101,4664,10.67,74
29,30,Singapore,3066,3012,49874,5043,16.27,91
...,...,...,...,...,...,...,...,...
162,163,French Guiana,3,3,1,1,0.33,1
163,164,Greenland,3,3,70,0,23.33,3
164,165,Cape Verde,3,3,20,0,6.67,2
165,166,Bermuda,3,3,14,0,4.67,1
166,167,Netherlands Antilles,3,3,9,0,3.00,1
167,168,Samoa,3,3,18,1,6.00,1
168,169,Andorra,2,2,15,0,7.50,1
169,170,Mauritania,2,2,7,0,3.50,1
170,171,Antigua and Barbuda,2,2,0,0,0.00,0
171,172,Guyana,2,2,0,0,0.00,0
172,173,Haïti,2,2,8,1,4.00,2
173,174,Mali,2,2,2,0,1.00,1
174,175,Nauru,2,2,0,0,0.00,0
175,176,Burundi,2,2,26,0,13.00,1
176,177,Seychelles,2,2,8,2,4.00,1
177,178,Cayman Islands,2,2,3,0,1.50,1
178,179,Liberia,2,2,11,0,5.50,1
179,180,San Marino,2,2,0,0,0.00,0
180,181,Gibraltar,1,1,0,0,0.00,0
181,182,Palau,1,1,0,0,0.00,0
182,183,Gambia,1,1,0,0,0.00,0
183,184,Togo,1,1,0,0,0.00,0
184,185,Christmas Island,1,1,0,0,0.00,0
185,186,Maldives,1,1,1,0,1.00,1
186,187,Saint Lucia,1,1,0,0,0.00,0
187,188,Reunion,1,1,4,1,4.00,1
188,189,Saint Helena,1,1,36,0,36.00,1
189,190,American Samoa,1,1,0,0,0.00,0
190,191,Belize,1,1,9,0,9.00,1
191,192,British Indian Ocean Territory,1,1,45,0,45.00,1

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [2]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [3]:
def answer_two():
    energy = get_energy()
    GDP = get_GDP()
    ScimEn = get_ScimEn()
    res=pd.merge(energy, ScimEn)
    return len(res) - 15
answer_two()

160

<br>

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [4]:
def answer_three():
    Top15 = answer_one()
    res=Top15.iloc[:, 10:]
    res=res.mean(axis=1)
    res.name = "avgGDP"
    res=res.sort_values(ascending=False)
    return res
answer_three()

United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532694e+12
United Kingdom        2.724782e+12
France                2.688773e+12
Italy                 2.130288e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611540e+12
India                 1.594349e+12
Spain                 1.406409e+12
Australia             1.202763e+12
South Korea           1.165810e+12
Iran                  4.369708e+11
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [5]:
def answer_four():
    Top15 = answer_one()
    country = answer_three().index[5]
    start = Top15.loc[country, "2006"]
    end = Top15.loc[country, "2015"]
    return end-start 

answer_four()

108550097312.71973

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [6]:
def answer_five():
    Top15 = answer_one()
    return Top15.mean()["Energy Supply per Capita"]

answer_five()

144.53333333333333

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [7]:
def answer_six():
    Top15 = answer_one()
    max_value = Top15.max()["% Renewable"]
    country = Top15[Top15["% Renewable"]==max_value].index[0]
    return country, max_value
answer_six()

('South Korea', 70.180289999999999)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [8]:
def answer_seven():
    Top15 = answer_one()
    ratio = Top15["Self-citations"]/Top15["Citations"]
    Top15["ratio"] = ratio
    max_value = Top15.max()["ratio"]
    country = Top15[Top15["ratio"]==max_value].index[0]
    return country, max_value

answer_seven()

('China', 0.68143547080669364)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [9]:
def answer_eight():
    Top15 = answer_one()
    population = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    Top15["population"] = population
    return Top15.sort_values(by="population").index[0]
answer_eight()

'Australia'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [163]:
def answer_nine():
    Top15 = answer_one()
    population = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    Top15["population"] = population
    Top15["citable per capital"] = Top15["Citable documents"]/Top15["population"]
    a=Top15["citable per capital"]
    b=Top15["population"]
    a=list(a.values)
    b=list(b.values)
    return np.correlate(a,b)[0]

answer_nine()

485325.0

In [182]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x=Top15['Citable docs per Capita'],y=Top15['Citable docs per Capita'] , kind='scatter', xlim=[0, 0.0006])

In [183]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [53]:
def answer_ten():
    Top15 = answer_one()
    median= Top15.median()["% Renewable"]
    arr = []
    for i in Top15["% Renewable"]:
        if(i >=median):
            arr.append(1)
        else:
            arr.append(0)
    hr = pd.Series(arr, Top15.index, name="HighRenew")
    return hr


answer_ten()

Australia             0
Brazil                1
Canada                1
China                 1
South Korea           1
France                0
Germany               1
India                 0
Iran                  0
Italy                 1
Japan                 0
Russian Federation    1
Spain                 1
United Kingdom        0
United States         0
Name: HighRenew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [133]:
def answer_eleven():
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15 = answer_one()
    population = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    a=population.groupby(ContinentDict)
    p_sum = a.sum()
    p_size = a.size()
    con = p_size.index
    return pd.DataFrame({"sum":p_sum, "size":p_size, "mean":0.4, "std":3.5})

answer_eleven()

               mean  size  std           sum
Asia            0.4     5  3.5  2.873341e+09
Australia       0.4     1  3.5  2.331602e+07
Europe          0.4     6  3.5  4.579297e+08
North America   0.4     2  3.5  3.528552e+08
South America   0.4     1  3.5  2.059153e+08

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [150]:
def answer_twelve():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    vals = Top15["% Renewable"]
    Top15["bin"] = pd.cut(vals, 5)
    return Top15.groupby([ContinentDict, "bin"])["bin"]

answer_twelve()

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [91]:
def answer_thirteen():
    Top15 = answer_one()
    population = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    Top15["PopEst"] = population
    arr = []
    for country in Top15.index:
        arr.append("{:,}".format(Top15["PopEst"][country]))
    return pd.Series(arr, Top15.index)

answer_thirteen()

Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Canada                  35,239,864.86486486
China                 1,367,645,161.2903225
South Korea                    24,480,000.0
France                  63,837,349.39759036
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Italy                  59,908,256.880733944
Japan                  127,409,395.97315437
Russian Federation            143,500,000.0
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
United States          317,615,384.61538464
dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [54]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [56]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!